* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: minecraft-font;
  src: url(../assets/font/Minecraft_font.ttf);
}
main {
  width: 100%;
  height: 100vh;
  background: url(../assets/img/background/404page.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  font-family: minecraft-font;
  font-weight: lighter;
}
.main-text {
  font-size: 7em;
  padding-bottom: 0.1em;
  color: rgba(0, 0, 0, 0.5);
}
.second-text {
  padding-bottom: 0.5em;
}
.button {
  margin-top: 2em;
  border: 0;
  outline: none;
  font-family: minecraft-font;
  font-weight: lighter;
  backdrop-filter: blur(3px);
  transition: 0.2s ease all;
  cursor: pointer;
  background-color: pink;
  padding: 1em 2em;
  padding-top: 0.8em;
  border-radius: 50px;
}
.button:hover {
  transform: translateY(-5px);
}
