.background {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(../assets/img/background/image-1.jpg);
  /* background-image: url(../assets/img/icons/slideshow/171170.jpg); */
  background-size: cover !important;
  background-position: center !important;
}

/* about Section */
.about {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(../assets/img/background/image-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  color: #fff;
}
.about .about-minecraft {
  width: 800px;
  font-family: MyFont;
  padding-top: 5em;
}
.about .about-minecraft h1 {
  padding: 0.5em 0;
}
.video {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid white;
  border: 10px solid rgba(0, 0, 0, 0.1);
}

.about .about-minecraft .btn {
  display: inline-block;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  width: 200px;
  background-color: #fff;
  color: #000;
  padding: 0.5em 1.5em;
  margin: 1em 0;
  border-radius: 3px;
  font-family: MyFont;
  cursor: pointer;
  transition: 0.4s ease all;
}

.about-minecraft-mouseover {
  color: lightgreen !important;
  border-color: lightgreen !important;
}
.about .about-minecraft .btn img {
  margin: 0 10px;
  position: relative;
  transition: 0.4s ease all !important;
  right: 0;
}
.about .about-minecraft .btn:hover {
  background: transparent;
  color: #fff;
}
.about .about-minecraft .btn:hover img {
  right: -45px;
}
.video iframe {
  border: 10px solid rgba(255, 255, 255, 0.2);
}
/* Contact Form */
.contact {
  min-height: 100vh;
  background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 1)),
    url(../assets/img/background/image-2-fliped.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.form-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-title {
  font-size: 3em;
  font-family: myFont;
}

.form-wrapper form {
  color: #fff;
  background-color: rgba(17, 17, 17, 0.9);
  min-height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  padding: 2em 0;
}
.form-wrapper form .center {
  padding-top: 1em;
  width: 70%;
  font-family: myFont;
}
.contact-us {
  font-family: myFont;
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  position: absolute;
  top: 0%;
  left: 50%;
  object-fit: scale-down;
  transform: translate(-50%, -50%);
}
.messageSent {
  font-family: myFont;
  position: absolute;
  top: 2em;
  font-size: 1em;
  color: green;
  width: 70%;
  text-align: left;
}
/* .form-wrapper form > img {
  width: 250px;
  position: absolute;
  top: 1%;
  left: 50%;
  object-fit: scale-down;
  transform: translate(-50%, -50%);
  filter: contrast(130%);
} */
.username-label,
.email-label,
.message-label {
  font-size: 1.3em;
  font-weight: lighter;
  padding-bottom: 0.1em;
}

.form-wrapper .username,
.form-wrapper .email,
.form-wrapper .message {
  font-size: 1em;
  font-family: myFont;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 0;
  color: black;
}
.form-wrapper button {
  padding: 0.5em 2em;
  font-size: 1.3em;
  font-family: myFont;
  font-weight: lighter;
  background-color: green;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  transition: 0.4s ease transform;
}

.form-wrapper button:hover {
  background-color: rgba(0, 128, 0, 0.664);
}
