@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");
@font-face {
  font-family: minecraft-font;
  src: url(../assets/font/Minecraft_font.ttf);
}
@font-face {
  font-family: myFont;
  src: url(../assets/font/Profontwindows-axBMx.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --selection-background: green;
}

.hide {
  display: none !important;
}
/* On Load Effect*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #283f24; */
  background-color: #3e5c20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 150px;
  height: 150px;

  position: relative;
  animation: loader 1.5s infinite ease;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* On load effect End */
header {
  backdrop-filter: blur(5px);
  transition: 0.4s ease all !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2em;
  display: flex;
  background-color: transparent;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  border-bottom: 2px solid #fff;
  z-index: 4;
}
.header-aktive {
  background: rgba(17, 17, 17, 0.9);
  border-bottom: 2px solid green;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu > li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: 0.1s ease all;
}
header .menu > li:hover {
  border-color: #fff;
}
header.header-aktive .menu > li:hover {
  border-color: green;
}
header .menu li a,
.dropdown > li {
  color: #fff;
  text-decoration: none;
  font-family: MyFont;
  font-size: 1.2em;
}
header .header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-icons i {
  padding: 0 0.5em;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

header .header-icons .btn {
  background-color: #fff;
  color: #000;
  padding: 6px 25px;
  margin-left: 1em;
  font-family: MyFont;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 3px solid #fff;
  transition: 0.3s ease translate;
  border-bottom: 0;
  border-right: 0;
}
header .header-icons .btn::after {
  content: "";
  width: 100%;
  height: 28px;
  border: 3px solid green;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.1s ease all;
}
.header-icons .btn:hover::after {
  transform: translate(-3px, -3px);
}
.header-icons .btn:active {
  transform: translateY(2px);
}
header.header-aktive .btn {
  background-color: #333;
  color: #fff;
  border-bottom: 0;
  border-right: 0;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
}

.profile {
  width: 100px;
  text-align: center;
  position: relative;
}
/* Emri tek profile menu (input tag) */
.edit-profile-text-wrapper {
  display: inline-block;
  width: 50%;
}
.edit-profile-li {
  display: flex;
  align-items: center;
}
.profile .name {
  width: 50%;
  background-color: transparent;
  color: #fff;
  font-family: myFont;
  outline: 0;
  border: 1px solid transparent;
  transition: 0.3s ease all;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  color: green;
  font-weight: bold;
}
.name.border {
  border: 1px solid #fff;
}
.status {
  background-color: #111;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  font-family: myFont;
  outline: none;
  cursor: pointer !important;
  padding: 0.1em 1em;
}

.profile img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  filter: contrast(120%);
  cursor: pointer;
  transition: 0.3s ease all;
  border: 2px solid transparent;
}
.profile img:hover {
  filter: brightness(120%);
}

.profile-menu {
  border: 1px solid green;
  min-width: 250px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  background-color: #111;
  border-radius: 4px;
  font-family: myFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.profile-menu li {
  color: #fff;
  width: 100%;
  font-size: 0.8em;
  border-bottom: 1px solid rgba(0, 128, 0, 0.4);
  padding: 0.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease all;
}
.profile-menu li:hover {
  background-color: #222;
}
.profile-menu li i {
  color: #fff;
}

.profile::after {
  content: " ";
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 25px;
  background: var(--selection-background);
  border-radius: 50%;
}

/* Sign Up section */
#sign-up {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.95);
  z-index: 5;
  transition: 0.4s ease all;
}
#sign-up.show {
  display: block;
}
#sign-up .close img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  transition: 0.1s ease all;
}
.close img:active {
  transform: translateY(2px);
}

.noScroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sign-up-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-form form {
  color: #fff;
  background-color: #111;
  min-height: 350px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 6px;
}
.sign-up-form form .center {
  width: 70%;
  font-family: myFont;
}
.username-label,
.password-label,
.confirm-password-label,
.sign-up-form button {
  font-weight: lighter;
  padding-bottom: 0.1em;
}

.sign-up-form .username {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 0;
  color: black;
}
.keep-me-logged-in {
  font-size: 0.8em;
  padding: 0.5em 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.keep-me-logged-in input {
  margin-right: 0.5em;
}

.sign-up-form .password,
.confirm-password {
  width: 100%;
  padding: 0.5em;
  border-radius: 3px;
  border: 0;
  margin-bottom: 1em;
}

.sign-up-form button {
  margin-top: 0.5em;
  padding: 0.6em 2em;
  font-family: myFont;
  font-weight: 600;
  background-color: green;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  transition: 0.4s ease transform;
}
button.wrong-password {
  transform: translateX(220px);
}
.sign-up-form button:hover {
  background-color: rgba(0, 128, 0, 0.664);
}
.register-message {
  font-weight: lighter;
  position: absolute;
  font-size: 1em;
  bottom: 1em;
  color: rgba(255, 255, 255, 0.6);
}
.register-message-btn {
  color: green;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease color;
}
.register-message-btn:hover {
  color: rgba(0, 128, 0, 0.8);
}
.validation-message {
  color: crimson;
  font-weight: 600;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: start;
}
.validation-message.welcome {
  color: green;
}
.validation-message img {
  margin-right: 1em;
}
.sign-up-form form > img {
  width: 250px;
  position: absolute;
  top: 1%;
  left: 50%;
  object-fit: scale-down;
  transform: translate(-50%, -50%);
  filter: contrast(130%);
}
.sign-up-form button:active {
  transform: translateY(-1px);
}
.sign-up-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-image {
  width: 100%;
  object-fit: cover;
  filter: contrast(95%) brightness(100%);
}
/* .sign-up-img .sheep {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 200px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: contrast(120%);
} 
.dog-cat {
  position: absolute;
  top: 55%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 100px;
  width: 250px;
  object-fit: scale-down;
}
.mushroom {
  animation: mushroomAnimation 0.5s ease-in-out alternate infinite;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 100px;
  transform: translate(-50%, -50%);
}
@keyframes mushroomAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
*/
.sign-up-img .ghast {
  position: absolute;
  width: 100px;

  object-fit: scale-down;
  filter: contrast(150%);
  animation: ghastMove 8s ease-in-out;
  animation-fill-mode: forwards;
  transition: 0.4s ease all;
  cursor: pointer;
}
.ghast:hover {
  filter: drop-shadow(0.5rem 0.5rem 1rem #e23);
}

@keyframes ghastMove {
  0% {
    right: 10%;
    top: -25%;
  }
  50% {
    top: 5%;
    right: 10%;
  }
  100% {
    right: 65%;
    top: 5%;
  }
}

.dropdown-icon {
  font-size: 0.8em;
}
.dropdown-parent {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 2em;
  left: 0;
  background-color: #111;
  min-width: 175px;
  list-style-type: none;
  border-radius: 6px;
  border: 1px solid #111;
}
.dropdown > li {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  border-bottom: 1px solid #222;
  transition: 0.1s ease all;
}
.dropdown > li:hover {
  background-color: #222;
}
.under-construction {
  display: none;
}
/* before footer */
.before-footer {
  padding: 2em 0 0 0;
  background-color: #111;
  display: flex;
  justify-content: space-evenly;
}
.before-footer img {
  width: 70px;
  transition: 0.1s ease-in-out all;
  cursor: pointer;
  object-fit: cover;
  filter: contrast(120%);
}
.before-footer img:hover {
  transform: translateY(-5px);
}
/* Footer */
footer {
  color: #fff;
  background: linear-gradient(
      360deg,
      rgba(17, 17, 17, 0.3),
      rgba(17, 17, 17, 1)
    ),
    url(../assets/img/background/footer-3.jpg);
  font-family: myFont;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.footer-blur {
  padding: 6em 3em;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 50px;
}

.footer-section {
  flex: 0 0 200px;
  margin-right: 50px;
}

.footer-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1em;
  color: green;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin: 10px 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: green;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}
.copyright {
  font-size: 1em;
  color: #fff;
  position: absolute;
  bottom: 1em;
}
.footer-section img {
  margin-top: -2em;
  width: 180px;
}
/* Website blocked in devices smaller than 1024px */
@media (max-width: 1024px) {
  .under-construction {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  div,
  section,
  header,
  footer {
    display: none !important;
  }
}
