.background {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(../assets/img/background/image-2.jpg);
  /* background-image: url(../assets/img/icons/slideshow/171170.jpg); */
  background-size: cover !important;
  background-position: center !important;
}
.collection {
  padding-bottom: 2em;
  height: auto;
  background-size: cover !important;
  background-position: center !important;
  background-color: #111;
}
.collection-title {
  color: #fff;
  text-align: center;
  font-family: myFont;
  font-size: 3em;
  padding: 1em;
  letter-spacing: 1px;
}
.collection-content {
  height: auto;
}

.collection-header {
  padding: 1em;
  border-bottom: 1px solid green;
  background-color: rgba(17, 17, 17, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collection-btn {
  padding: 0.5em 2em;
  outline: none;
  cursor: pointer;
  height: 30px;
  margin: 0 0.5em;
  color: #fff;
  border: 1px solid green;
  transition: 0.3s ease all;
  background-color: transparent;
}
.collection-btn:hover {
  background-color: green;
  transform: translateY(-3px);
}
.collection-btn:active {
  transform: translateY(0px);
}
.collection-search-input {
  padding: 0.4em 0.5em;
  outline: 0;
  border: 1px solid green;
  background-color: transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  font-family: myFont;
  height: 30px;
  width: 200px;
}
.collection-search-btn {
  padding: 0.5em 1em;
  margin-left: -5px;
  outline: 0;
  border: 1px solid green;
  background-color: green;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  height: 30px;
  transition: 0.1s ease all;
}
.collection-search-btn:hover {
  background-color: rgb(0, 100, 0);
  border-color: rgb(0, 100, 0);
}
.collection-search-btn:active {
  background-color: green;
}
.collection-search-wrapper {
  display: flex;
  align-items: center;
}
.collection-body {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collection-box {
  width: 200px;
  height: 200px;
  margin: 2em 1em;
  background-color: #111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #222;
  border-bottom: 0;
  cursor: pointer;
}
.collection-box:hover img {
  filter: drop-shadow(0.5rem 0.5rem 1rem green);
}
.collection-box img {
  width: 50%;
  object-fit: cover;
  filter: contrast(120%);
  transition: 0.1s ease all;
  filter: drop-shadow(0.5rem 0.5rem 1rem transparent);
}
.collection-box-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  position: relative;
}
.collection-box-footer {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: green;
  border: 1px solid #222;
  border-top: 0;
  background-color: #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.collection-box-title {
  color: #fff;
  font-size: 0.9em;
  position: absolute;
  bottom: 0;
  left: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  text-align: center;
  padding: 0.5em;
  font-family: myFont;
  font-weight: lighter;
}
.collection-box-footer i {
  cursor: pointer;
}
